@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bem vindo ao site da veterinária</h2>
    <img src="imagens/veterinaria.jpg" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque quos tenetur excepturi voluptatibus molestiae<br>
     et consequatur ab sed provident placeat sunt aliquam minus eum quo eveniet, unde voluptate commodi!<br>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque quos tenetur excepturi voluptatibus molestiae<br>
     et consequatur ab sed provident placeat sunt aliquam minus eum quo eveniet, unde voluptate commodi!</p>
</div>