@using Atividade_2.Models
@model PreAgendamento

    <h2>Serviços</h2>

    <table>
        <thead>
        </thead>
        <tbody>
            <ul style="list-style-type:circle;">
                <li>Descrição</li>
                <li>Valor:</li>
            </ul>
            <ul style="list-style-type:circle;">
                <li>Descrição</li>
                <li>Valor:</li>
            </ul>
            <ul style="list-style-type:circle;">
                <li>Descrição</li>
                <li>Valor:</li>
            </ul>
        </tbody>
    </table><br>
    <a asp-action="Agendamento">Clique para Agendar o serviço que deseja</a>