@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

.logo{
    padding: 50px;
}
.search-box{
    position: absolute;
    width: 687px;
    height: 44px;
    left: 538px;
    top: 107px;
    background: #FFFFFF;
    border: 3px solid #15128A;
    box-sizing: border-box;
    border-radius: 11px;
}
.wrap-search-box .input{
    border: 0;
    outline: none;    
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap-search-box .search-box{
    width: 687px;
    height: 44px;
    left: 538px;
    top: 107px;
}
.search-box i{
    margin: auto;
    padding:10px;
}
.navbar{
    border-bottom: 3px solid #15128A;
    border-top: 3px solid #15128A;
}
.nav-link{
    font-family: 'Notable', sans-serif;
    font-style: normal;
    font-weight: normal;
    
    line-height: 31px;
    color: #4493EF;
    text-decoration: none;
}
.nav-item{
    margin-left: 10px;
}
.navbar{
    padding: 0%;
}
.dropdown{
    float: left;
}

@media(min-width:1200px){
    .dropdown-menu{
        min-width: 1200px;
    }
}
.navbar-toggler .navbar-toggler-icon{
    color: #4493EF;
}
.nav-item1{
    font-family: 'Notable', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 31px; 
    color: #4493EF;
    text-decoration: none;    
}
.nav-item2{
    font-family: 'Notable', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;    
    color: #4493EF;
    text-decoration: none;    
}
.nav-item3{
    font-family: 'Notable', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;     
    color: #4493EF;
    text-decoration: none;    
}
h5{
    font-family: 'Notable', sans-serif;
    font-size: 24px;
    color: #E68933; 
}
.dropdown-item{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}
.titulo h1{
    text-align: center;
    font-family: 'Notable', sans-serif;
    font-size: 24px;
    color: #E68933;
}
* {
    box-sizing: border-box;
  }
   
  .shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }
  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
  }
   
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
  .image {
    margin-right: 50px;
  }   
  
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }