@model Pedido

<h2> Detalhe do Produto @Model.descricao</h2>
<p>
    <label asp-for="descricao">Descrição:</label>
    <input asp-for="descricao"/>
</p>
<p>
    <label asp-for="valor_unitario">Valor Unitário:</label>
    <input asp-for="valor_unitario"/>
</p>
<p>
    <label asp-for="quantidade">Quantidade:</label>
    <input asp-for="quantidade"/>
</p>