@{
    ViewData["Title"] = "Pacotes";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Pacotes de Viagens</h1>
    <p>Um monte de foto bonita</a>.</p>
    <a href="/Pacotes">Área do colaborador |</a>
    <a href="/Home/CadastroColaborador">Cadastrar novo colaborador</a>
</div>
<div class="box-img">
    <img src="~/img/portoalegre.jpg" width="220" height="220">
</div>
<div class="box-img">
    <img src="~/img/portogalinhas.jpg" width="220" height="220">
</div>
<div class="box-img">
    <img src="~/img/portoseila.jpg" width="220" height="220">
</div>
<div class="box-img">
    <img src="~/img/salvador.jpg" width="220" height="220">
</div>
