@{
    ViewData["Title"] = "Luan Turismo";
}
<h1>@ViewData["Title"]</h1>
<img src="~/img/turismo.jpg" alt="Mala de viagem" width="300" height="250"/>
<p>A Luan Turimos é uma empresa presente no mercado desde 2020 conta 
    com equipe de profissionais,
 colaboradores, guias de turismo e bugueiros capacitados que além 
 da hospitalidade, estão aptos a mostrar todas as belezas da Cidade </p>


<h2>CONTATO</h2>
<p>Telefone : 888891291</p>
<p>Email: turismo.luan@email.com</p>