<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="~/css/site.css"/>
  <title>@ViewData["Title"] - PetVet</title>
</head>
<body>
   <header>
       <div>
        <br>
        <h1> PetVet - Petshop e Veterinária</h1>
       </div>
    <nav>
        <a href="/Home">Início |</a>
        <a href="/Home/Serviços">Serviços |</a>
        <a href="/Home/Agendamento">Agendamento </a>
    </nav>
   </header>
   <div>
       <main role="main">
           @RenderBody()
       </main>
   </div>
   <footer>
       <div>
           © 2020 - PetVet
       </div>
   </footer>
</body>
</html>
